$redPoke: #fb1b1b;
$blackPoke: #000000;
$grayPoke: #dfdfdf;
$whitePoke: #ffffff;
$bluePoke: #0a285f;
$lightbluePoke: #0075be;
$ocraPoke: #d5a100;
$yellowPoke: #ffcc00;

.bg-red-poke {
    background-color: $redPoke;
}
.bg-black-poke {
    background-color: $blackPoke;
}
.bg-gray-poke {
    background-color: $grayPoke;
}
.bg-white-poke {
    background-color: $whitePoke;
}
.bg-blue-poke {
    background-color: $bluePoke;
}
.bg-lightblue-poke {
    background-color: $lightbluePoke;
}
.bg-ocra-poke {
    background-color: $ocraPoke;
}
.bg-yellow-poke {
    background-color: $yellowPoke;
}
.red-poke {
    color: $redPoke;
}
.black-poke {
    color: $blackPoke;
}
.gray-poke {
    color: $grayPoke;
}
.white-poke {
    color: $whitePoke;
}
