/****IMPORT COLORS****/
@import "./color.scss";

/****KEYFRAMES****/
@import "./keyframes.scss";

/****FONT****/
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap");

/**FONT SIZE**/
$thirteenPx: 13px;
$fourteenPx: 14px;

@mixin font-style($fontfamily, $typechar, $weight) {
    font-family: $fontfamily, $typechar;
    font-weight: $weight;
}
.ubuntu-300 {
    @include font-style("Ubuntu", "sans-serif", 300);
}
.ubuntu-400 {
    @include font-style("Ubuntu", "sans-serif", 400);
}
.kanit-300 {
    @include font-style("Kanit", "sans-serif", 300);
}
.kanit-800 {
    @include font-style("Kanit", "sans-serif", 800);
}

/****BORDER STYLE****/
@mixin border-color($color) {
    border-color: $color;
}

.bb-gray {
    border-bottom: 2px solid;
    @include border-color($grayPoke);
}

/****ANIMAZIONI KEYFRAMES****/
@mixin animation-model($animationName, $animationDuration) {
    animation-name: $animationName;
    animation-duration: $animationDuration;
}

.fade-in {
    @include animation-model(fade-in, 0.4s);
}
